## Question 1

#### Refer back to **Exercise 8 Question 2** for the following questions.

1. Using the "type" column, what are the different types of properties in the properties data?

**Solution**:

In [ ]:
import pandas as pd
prop = pd.read_csv("properties2.csv")

2i. Create a program that take in an integer `k` from a user and creates a dataframe which is a subset of the properties data with the following conditions:
- takes an input k from a user
- missing commencing year
- total of 2 x `k` records, with `k` smallest possible indexes and `k` largest possible indexes

**Solution**:

2ii. What is the maximum value of `k` so that there is no overlapping records in the subset?

3i. What is the datatype of the "commence" column?

**Solution**:

3ii. If the values in the "commence" column is not missing, then it must be a whole number year. Write code to determine the number of incorrect "commence" years, i.e. "commence" years that are not missing and is not a whole number.

**Solution**:

4. In **Exercise 8 Question 2.1**, apart from using the Pandas series `isnull` method, we can also use the `isna` method as it is an alias of `isnull`. What do you understand of the phrase "`isna` is an alias of `isnull`"?

**Solution**:

5. Assuming property prices increase by 3% every year, find the average price of the all the properties in the year 2023. Simply take the numbers of years as the difference between the year 2023 and the year that the property was transacted in. For example, if the property was transacted in May-19 at a price of $1,000,000, then its price in 2023 will be \\$1,000,000 times 1.03^4.

6. The `level` column of the property dataset has string values with the pattern "X to Y", where X and Y are numbers. Using the `level` column, create a new column named `level_2` with the pattern "X-Y".

**Solution**:

7. In **Exercise 8 Question 2.3**, you found out the number of records in the dataset are condos/apartments located in district 5 and their levels are higher than 12. Now, re-attempt this question using the numerical average of the starting level and the ending level in the "level" column as the actual level.

**Solution**: